{% extends '_base.html' %}


{% block main %}
  <main>
    <div class="container mt-3">
      <div class="row">
        <div class="heading">
          <h1 class="text-center bold">Results for "{{ query }}"</h1>
        </div>

        <div class="col-md-12 mt-3 mt-md-3">
          <div class="card">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <h4>Executives <span class="space"></span><span class="badge bg-primary">{{executives.count}}</span></h4>
                {% for member in executives %}
                <li class="list-group-item">
                  <span class="name">
                    {% if member.position %}
                      <span class="badge bg-dark">{{ member.get_position_display }}</span>
                    {% endif %}
                    {{ member.name }}

                  </span>
                  <span class="phone1">{{ member.phone1 }}</span>
                  <span class="phone2">{{ member.phone2 }}</span>
                </li>
                  {% empty %}
                  <p class="big">⛔</p>
                   <p class="mt-2"><span class="space"></span> No Executives Match</p>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="card">
            <div class="card-body">
              <ul class="list-group list-group-flush">

                <h4>Members<span class="space"></span><span class="badge ml-3 bg-primary">{{members.count}}</span></h4>
                {% for member in members %}
                <li class="list-group-item">
                  <span class="name">
                    {{ member.name }}
                    {% if member.position %}
                      <span class="badge bg-secondary">{{ member.get_position_display}}</span>
                    {% endif %}
                  </span>
                  <span class="phone1">{{ member.phone1 }}</span>
                  <span class="address">{{ member.address }}</span>
                <div class="dropdown dropstart">
                  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{{ member.get_absolute_url }}">Open</a></li>
                    <li><a class="dropdown-item" href="{{ member.get_edit_url }}?next={{ request.get_full_path }}">Edit</a></li>
                  </ul>
                </div>
                </li>
                  {% empty %}
                  <p class="big">⛔</p>
                  <p class="mt-2"><span class="space"></span>  Members Match </p>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>



    </div>

  </main>
    {% endblock %}


{% block script %}
  <script>
    let closeBtns = document.querySelectorAll(".toast .btn-close")
    closeBtns.forEach(btn => {
      btn.addEventListener("click", function(e) {
        e.target.parentNode.parentNode.classList.remove("show");
        e.target.parentNode.parentNode.classList.add("hide");
      });
    })
  </script>
{% endblock %}